<template>
  <form
    action=""
    class="filter"
    method="get"
  >
    <div class="formItem">
      <label :for="keywordId">
        Search
      </label>
      <input
        type="search"
        size="10"
        :id="keywordId"
        name="keyword"
        :value="keyword"
        @input="$emit('update:keyword', $event.target.value)"
      >
    </div>
    <div class="formItem">
      <label :for="routeId">Route</label>
      <select
        name="route"
        :id="routeId"
        @input="$emit('update:selectedRoute', $event.target.value)"
        :value="selectedRoute"
      >
        <option value="">Any Route</option>
        <option
          v-for="route in routes"
          :key="route.number"
          :value="route.number"
        >
          {{ route.name }}
        </option>
      </select>
    </div>
    <div 
      v-if="showSubmit"
      class="formItem"
    >
      <input
        type="submit"
        value="Search"
      >
    </div>
  </form>
</template>

<script>
export default {
  props: {
    keyword: {
      type: String,
      default: '',
    },
    routes: {
      type: Array,
      default: () => [],
    },
    selectedRoute: {
      type: [String, Number],
      default: null,
    },
  },
  data () {
    return {
      showSubmit: true,
    }
  },
  mounted () {
    this.showSubmit = false;
  },
  computed: {
    keywordId: function () {
      return `${this.id}-keyword`;
    },
    routeId: function () {
      return `${this.id}-route`;
    },
  },
};
</script>
