<template>
  <div class="stop">
    <h3>{{ name }}</h3>
    <div class="stop-number">Stop {{ number }}</div>
    <div
      v-if="distance !== null"
      class="stop-distance"
    >
      <h4>Distance</h4> {{ distance }}m
    </div>
    <div class="stop-routes">
      <h4>Buses</h4>
      <ul>
        <li
          v-for="route in routes"
          :key="route"
        >
          {{ route }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      name: {
        type: String,
        required: true,
      },
      distance: {
        type: Number,
        default: null,
      },
      number: {
        type: [Number, String],
        required: true,
      },
      routes: {
        type: Array,
        default: () => [],
      },
    },
    computed: {
      stopUrl: function () {
        return `/times/${this.number}`;
      },
    },
  };
</script>
