<template>
  <div class="time">
    <div class="route">{{ route }}</div>
    <div class="direction">{{ direction }}</div>
    <div class="destination">{{ destination }}</div>
    <div class="wait-time">{{ waitTime }}</div>
    <div class="real-time">{{ time }}</div>
  </div>
</template>

<style lang="scss">
.time {
  display: grid;
  grid-template:
    "route direction   time" 1em
    "route destination wait" 1fr
    / 1fr 4fr 2fr;
  column-gap: 1em;

  .route {
    grid-area: route;
    font-size: 3em;
    font-weight: bold;
    align-self: center;
    justify-self: center;
  }
  .direction {
    grid-area: direction;
    font-size: .75em;
    opacity: 0.75;
    letter-spacing: 1px;
  }
  .destination {
    grid-area: destination;
    font-size: 1.5em;
    align-self: baseline;
  }
  .real-time {
    grid-area: time;
    font-size: .75em;
    opacity: 0.75;
    letter-spacing: 1px;
  }
  .wait-time {
    grid-area: wait;
    font-size: 2em;
    align-self: baseline;
  }
}
</style>


<script>
export default {
  props: {
    route: {
      type: [String, Number],
      required: true,
    },
    direction: {
      type: String,
      required: true,
    },
    destination: {
      type: String,
      required: true,
    },
    time: {
      type: String,
      required: true,
    },
    wait: {
      type: Object,
      required: true,
    },
  },
  computed: {
    waitTime () {
      const {hours, minutes} = this.wait;
      return hours > 0 ? `${hours}hr ${minutes}min` : `${minutes} min`;
    },
  },
};
</script>
