<template>
  <div class="timeList listing">
    <div
      v-if="times === null"
      class="listingSection"
    >
      Loading...
    </div>
    <template v-else-if="times.length > 0">
      <Time
        v-for="time in times"
        :key="time.trip"
        v-bind="time"
      />
    </template>
    <div
      v-else
      class="listingSection"
    >
      No more busses.
    </div>
  </div>
</template>

<script>
import Time from './Time';

export default {
  async mounted() {
    this.times = await this.$axios.$get(this.timesUrl);
  },
  data () {
    return {
      times: null,
    };
  },
  props: {
    timesUrl: {
      type: String,
      required: true,
    },
  },
  computed: {
  },
  components: {
    Time,
  }
}
</script>
