<template>
  <div class="appWrapper">
    <header>
      <h1>
        <nuxt-link
          exact
          to="/"
        >
          {{ title }}
        </nuxt-link>
      </h1>
    </header>
    <main>
      <nuxt/>
    </main>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'London Transit Buses',
    },
  },
};
</script>

<style>
</style>