<template>
  <div>
    <no-ssr placeholder="Live times require JavaScript.">
      <TimeList
        :times-url="timesUrl"
      />
    </no-ssr>
  </div>
</template>

<script>
import TimeList from '../../components/TimeList';

export default {
  scrollToTop: true,
  validate({params}) {
    return !isNaN(+params.stop);
  },
  data() {
    const {stop} = this.$route.params;
    return {
      stopId: Number.parseInt(stop, 10),
      timesUrl: `https://api.ltbuses.ca/stops/${stop}`,
    }
  },
  head() {
    return {
      title: `Stop ${this.stopId}`,
    };
  },
  components: {
    TimeList,
  },
}
</script>
