<template>
  <div class="prose">
    <h2>London Transit Busses</h2>
    <p>
      This is an in-progress web version of the
      <a href="https://play.google.com/store/apps/details?id=org.frasermccrossan.ltc&showAllReviews=true">
        London Transit Busses app
      </a>.
    </p>
    <p>
      For now, go straight to
      <nuxt-link to="times">the Live Times</nuxt-link>
    </p>
  </div>
</template>

<style lang="scss">
  .prose {
    padding: 1em;

    > * + * {
      margin-top: 1.5em;
    }
  }
</style>
