<template>
  <div>
    <div
      v-if="activeStop"
      class="timeList-header"
    >
      <Stop
        v-if="activeStop"
        :key="activeStop.number"
        v-bind="activeStop"
      />
      <button
        type="button"
        @click.prevent="goBack"
      >
        Back
      </button>
    </div>
    <template v-else>
      <StopFilter
        :routes="routes"
        :keyword.sync="filter.keyword"
        :selected-route.sync="filter.route"
      />
      <div class="stopList listing">
        <nuxt-link
          v-for="stop in filteredStops"
          :to="stop.url"
          :key="stop.number"
        >
          <Stop
            v-bind="stop"
          />
        </nuxt-link>
      </div>
    </template>
    <nuxt-child :key="$route.params.stop" />
  </div>
</template>

<style lang="scss">
  .timeList-header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0, 0.2);

    & > .stop {
      flex: 12 1 auto;
      border-bottom: none;
    }

    & > button {
      flex: 1 0 auto;
      align-self: center;
      margin: 1em;
      padding: 1em;
      display: block;
      font-family: inherit;
      line-height: inherit;
      font-size: 1em;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      color: rgba(0,0,0, 0.75);
      text-shadow: 1px 1px 1px rgba(255,255,255, 0.3);
      background: #009f60 linear-gradient(0, rgba(0,0,0, 0.1), rgba(0,0,0, 0));
      box-shadow:
        inset 0px 1px 2px 0px rgba(255,255,255, 0.3),
        0px 1px 4px 0px rgba(0,0,0, 0.3);
      border: 1px solid rgba(0,0,0, 0.3);
      border-radius: 0.125em;
    }    
  }
</style>

<script>
import fuzzysearch from 'fuzzysearch';
import haversine from 'haversine';
import axios from 'axios';
import StopFilter from '../components/StopFilter';
import Stop from '../components/Stop';

const getLocation = () => new Promise((resolve, reject) => {
  if (!navigator.geolocation) {
    reject(new Error('geolocation disabled'));
    return;
  }
  const resolveCoords = ({coords: {latitude, longitude}}) => resolve({latitude, longitude});
  navigator.geolocation.getCurrentPosition(resolveCoords, reject);
});

export default {
  scrollToTop: true,
  async asyncData ({app, query: {keyword = '', route = null}}) {
    return {
      routes: await app.$axios.$get('https://api.ltbuses.ca/routes'),
      stops: await app.$axios.$get('https://api.ltbuses.ca/stops'),
      filter: {
        keyword: keyword,
        route: route === null ? route : Number.parseInt(route, 10),
      },
    };
  },
  async mounted() {
    try {
      this.location = await getLocation();
    } catch (e) {
      this.location = null;
    }
  },
  watch: {
    $route ({params}) {
      this.stopId = params.stop;
    },
  },
  data () {
    return {
      location: null,
      stopId: this.$route.params.stop,
    };
  },
  computed: {
    activeStop () {
      let stopId = Number.parseInt(this.stopId);
      if (Number.isNaN(stopId)) {
        return null;
      }
      return this.stops.find(({number}) => Number.parseInt(number, 10) === stopId);
    },
    filteredStops () {
      const keyword = this.filter.keyword.toLowerCase().trim();
      const route = `${this.filter.route || ''}`;

      let stops = this.stops
        .filter(({routes}) => route === '' || routes.includes(route))
        .filter(({name, number}) => {
          const label = `${number} ${name}`.toLowerCase();
          return keyword === '' || fuzzysearch(keyword, label);
        })
        .map((stop) => {
          stop.url = `/times/${stop.number}`;
          return stop;
        });

      if (this.location !== null) {
        stops = stops
          .map((stop) => {
            stop.distance = Math.round(haversine(
              this.location,
              {
                latitude: Number.parseFloat(stop.lat),
                longitude: Number.parseFloat(stop.lon),
              },
              {
                unit: 'meter',
              }));
            return stop;
          })
          .sort((stop1, stop2) => {
            return stop1.distance - stop2.distance;
          });
      }

      return stops.slice(0, 30);
    },
  },
  methods: {
    goBack(e) {
      this.$router.go(-1);
    },
  },
  components: {
    StopFilter,
    Stop,
  },
}
</script>
